
@font-face {
  font-family: 'MyFont';
  src:  url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  }

.hello{
    font-family: 'MyFont';
    color: red;
    background: url('../img/github-512.png');
    background-repeat: no-repeat;
}